body {
    background-image: url("https://emanscreativity.files.wordpress.com/2013/11/book-background-02.jpg");
    background-size: cover;
}

.name h1 {
    color: white;
    background-color: black;
    text-align: center;
    font-family: Arial;
}

.info {
    color:white;
    background-color: maroon;
    padding: 5px;
    font-size: 20px;
    font-family:Arial;
    border-style:groove;
    text-align:center;
}

.info h3 {
    color:black;
    font-size: 25px;
    font-family:Arial;
    text-align:center;
    background-color:firebrick;
}

.burton {
    background-color:darkgray;
    text-align: center;
    padding: 10px;
    margin: 20px;
    border-style:ridge;
    border-color: black;
}

.personal {
    background-color: black;
    color: whitesmoke;
    text-align: center;
    padding: 10px;
    font-family: Arial;
    border-style:dotted;
}

.personal h1 {
    color: maroon;
    font-size: 25px;
    font-family: Arial;
    background-color:whitesmoke;
}

.picture {
    background-color: darkgray;
    text-align: center;
    margin: 20px;
    padding: 10px;
    border-style: ridge; 
    border-color: black;
}

.movies {
    background-color:darkgray;
    text-align:center;
    margin: 20px;
    padding:10px;
    border-style:groove;
    border-color:black;
}

.music iframe {
    background-color: dimgray;
    margin: 20px;
    text-align: center;
    border-style: dashed;
    border-color: crimson;
    padding: 10px;
}

.facts {
    background-color: azure;
    text-align: center;
    color: black;
    padding: 10px;
    font-size: 20px;
    margin: 10px;
}

.facts h3 {
    background-color: darkseagreen;
    border-style: groove;
    border-color: black;
    font-family: monospace;
    font-size: 40px;
}

.tnbc h1 {
    color: white;
    background-color: black;
    text-align: center;
    font-family: Arial;
}

.bride h1 {
    text-align: center;
    background-color: black;
    color: azure;
    font-family: 'Mountains of Christmas', cursive;
}

.vicc {
    background-color: cadetblue;
    text-align: center;
    margin: 10px;
    padding: 10px;
    border-style: double;
    border-color:black;
    font-size: 15px;
    color: black;
}

.vicc h3 {
    text-align: center;
    background-color: aliceblue;
    color: darkslategrey;
}

.family {
    background-color: darkkhaki;
    border-style: double;
    border-color: black;
    text-align: center;
    margin: 10px;
    padding: 10px;
}

.gif {
    background-color:#69A27E;
    border-style: double;
    border-color: black;
    text-align: center;
    margin: 10px;
    padding: 10px;
}

.vows {
    background-color:#876D85;
    border-style: double;
    border-color: black;
    text-align: center;
    margin: 10px;
    padding: 10px; 
}

.song iframe {
    background-color:indianred;
    border-style: double;
    border-color: black;
    text-align: center;
    margin: 10px;
    padding: 10px;
}

.hey {
    background-color:blanchedalmond;
    border-style: double;
    border-color: black;
    text-align: center;
    margin: 10px;
    padding: 10px; 
}

.hey h2 {
    background-color: lightpink;
    text-align: center;
    padding: 10px;
    margin: 10px;
}

.fam {
    background-color:#876D85;
    border-style: double;
    border-color: black;
    text-align: center;
    margin: 10px;
    padding: 10px; 
}

.skell {
    background-color:#876D85;
    border-style: double;
    border-color: black;
    text-align: center;
    margin: 10px;
    padding: 10px;     
}

.mount {
    background-color:#876D85;
    border-style: double;
    border-color: black;
    text-align: center;
    margin: 10px;
    padding: 10px; 
}

.scury {
    background-color:#876D85;
    border-style: double;
    border-color: black;
    text-align: center;
    margin: 10px;
    padding: 10px; 
}

.nov {
    background-color:#876D85;
    border-style: double;
    border-color: black;
    text-align: center;
    margin: 10px;
    padding: 10px; 
}

