body {
    background-image: url("https://emanscreativity.files.wordpress.com/2013/11/book-background-02.jpg");
    background-size: cover;
}

.name h1 {
    color: white;
    background-color: black;
    text-align: center;
    font-family: cursive;
}

.info {
    color:dimgrey;
    background-color: blanchedalmond;
    padding: 5px;
    font-size: 20px;
}

.info h3 {
    color:black;
    font-size: 25px;
}

.burton {
    background-color: #0A202F;
    text-align: center;
    padding: 10px;
}

.personal {
    background-color: black;
    color: whitesmoke;
    text-align: center;
    padding: 10px;
    font-family: fantasy;
}

.personal h1 {
    color: maroon;
    font-size: 25px;
}
