body {
    background-image: url("https://s-media-cache-ak0.pinimg.com/564x/49/47/37/49473793fae64552ffa2e3304bc3793e.jpg");
    background-size: cover;
}

.tnbc h1 {
    color: white;
    background-color: black;
    text-align: center;
    font-family: Arial;
}

